name: Flask CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask pytest

      - name: Run tests
        run: |
          pytest

      - name: Build Docker image
        run: |
          docker build -t url-shortener .

      - name: Deploy application (Docker Run)
        run: |
          docker stop url-shortener || true
          docker rm url-shortener || true
          docker run -d --name url-shortener -p 5000:5000 url-shortener
